/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Estilos para el encabezado */
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    font-size: 28px;
    margin: 0;
  }
  
  /* Estilos para el menú de navegación */
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  
  nav ul li {
    display: inline-block;
  }
  
  nav ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s ease;
  }
  
  nav ul li a.active {
    background-color: #666;
  }
  
  /* Estilos para la sección de próximos partidos */
  section {
    margin-top: 20px;
  }
  
  article {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  h3 {
    margin: 0 0 10px;
  }
  
  /* Estilos para el pie de página */
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  footer p {
    margin: 0;
  }
  
  /* Estilos para el botón de volver */
  footer button {
    padding: 10px 20px;
    background-color: #666;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  footer button:hover {
    background-color: #555;
  }
  .menu button {
    padding: 10px 20px;
    background-color: #666;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .menu button:hover {
    background-color: #555;
    transform: scale(1.1);
  }
  
  