
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  animation: fadeInDown 1s ease-out;
}
#galeria {
  text-align: center;
}

.carousel {
  width: 80%;
  margin: 0 auto;
}

.carousel-item {
  display: none;
}

.carousel-item.active {
  display: block;
}

.carousel-item img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
  transition: background-color 0.3s ease;
}

nav ul li a:hover {
  background-color: #ddd;
}

section {
  padding: 20px;
  animation: fadeInUp 1s ease-out;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

section h2 {
  margin-bottom: 10px;
  font-size: 24px;
  color: #333;
}

section article {
  margin-bottom: 20px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

section article h2 {
  margin-bottom: 10px;
  font-size: 20px;
  color: #333;
}

section article p {
  color: #777;
}

section article figure {
  text-align: center;
  margin-top: 10px;
}

section article img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  animation: fadeInUp 1s ease-out;
}